<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>業務查詢</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>

<body>
    <iframe title="2025業務業績查詢"
        src="https://app.powerbi.com/view?r=eyJrIjoiMjQ1ZmY2MzgtZjg2ZS00MTVkLTk3ZjctNDAxNDcyNmZmOWQ2IiwidCI6IjNkMzQ4M2RiLWM3NzktNDU3NC1hZmZlLWUzNmVlZDJlZmY1NiIsImMiOjEwfQ%3D%3D"
        frameborder="0" allowFullScreen="true"></iframe>
</body>

</html>